In [1]:
name = "Gayatri"
age = 22

In [2]:
# Python is Dynamically Typed
pi = 3.14       # float
is_coding = True  # bool
print(pi)
print(is_coding)

3.14
True

In [4]:
# Integer (whole number)
x = 10          # int
print(x)

# Float (decimal number)
pi = 3.14       # float
print(pi)

# String (text in quotes)
greeting = "Hello, World!"  # str
print(greeting)

# Boolean (True/False)
is_active = True  # bool
print(is_active)

# ✅ Good Variable Naming Practices
user_name = "Gayatri"    # clear name
print(user_name)
total_price = 99.99      # use snake_case
print(total_price)
first_name = "Alex"
print(first_name)

10
3.14
Hello, World!
True
Gayatri
99.99
Alex

In [6]:
# ❌ Bad Naming
a1 = 5
             # too vague
x = "Gayatri"        # unclear purpose
#class = "Math"
print(class)
   # ❌ Don't use Python keywords (this will give an error)
class_name = "Math"  # ✅ use a different name

SyntaxError: invalid syntax (ipython-input-3343834253.py, line 5)

In [7]:
# ❌ Common Mistake 1: Mixing types (string + int)
age = input("Enter your age: ")
print("Next year, you will be " + age + 1)  # ❌ This will break

Enter your age: 12

TypeError: can only concatenate str (not "int") to str

In [8]:
# ✅ Corrected version:
age = int(age)
print("Next year, you will be " + str(age + 1))  # ✅

Next year, you will be 13

In [10]:
# ❌ Common Mistake 2: Wrong casing in booleans
 #is_logged_in = true  # ❌ 'true' is not defined (Python is case-sensitive)
is_logged_in = True     # ✅

IndentationError: unexpected indent (ipython-input-3885710719.py, line 2)

In [11]:
# Swapping Variables Without a Temp Variable
a = 5
b = 10
print(f"Before swap: a = {a}, b = {b}")
a, b = b, a
print(f"After swap: a = {a}, b = {b}")

Before swap: a = 5, b = 10
After swap: a = 10, b = 5

In [12]:

# Type Checking
num = 7.0
print(type(num))  # <class 'float'>

<class 'float'>

In [14]:
#Using None as a placeholder
result = None
some_condition = True
if some_condition:
    result = 42

print(f"Result is: {result}")
print(type(result))  # <class 'int'> if condition met, else <class 'NoneType'>

Result is: 42
<class 'int'>

In [15]:
#Fix the Messy Desk! (Variable Swapping Challenge) Solution

# Initial values
pens = "notebooks"
notebooks = "pens"

print(pens)
print(notebooks)

notebooks
pens

In [16]:
# Print before swap
print("Before swap:")
print(f"The pens are in the '{pens}' pile and notebooks are in the '{notebooks}' pile.")

Before swap:
The pens are in the 'notebooks' pile and notebooks are in the 'pens' pile.

In [17]:
# Swap the values
pens, notebooks = notebooks, pens

# Print after swap
print("\nAfter swap:")
print(f"The pens are in the '{pens}' pile and notebooks are in the '{notebooks}' pile.")

After swap:
The pens are in the 'pens' pile and notebooks are in the 'notebooks' pile.